{% extends 'base.html' %}
{% block title %}Register Page - Employer{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-2 justify-content-md-center">
        <div class="col-md-auto">
            <h1>Register as a Employer</h1>
            <form method="POST" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
