{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% load static %}
{% block content %}
    <!-- Header -->
    <div style="background: url('{% static 'images/universe-header.jpg' %}')"
         class="bg-cover text-white">
        <div class="container py-5 text-center">
            <h1 class="display-4 font-weight-bold">Edit User Profile</h1>
            <h2 class="font-italic mb-0">edit user profile</h2>
            <div aria-label="breadcrumb">
                <a href="{% url 'jobs:home' %}">Home</a> <span class="mx-2 slash">/</span>
                <span class="text-white"><strong>Edit Profile</strong></span>
            </div>
        </div>
    </div>
    {% include 'messages.html' %}
    {% if user.is_authenticated and user.is_jobseeker %}{% endif %}
    <!-- Edit Profile -->
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" class="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
