{% extends 'base.html' %}
{% block title %}Register Page - Jobseeker{% endblock title %}

{% block content %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">
                    <div class="content"><h2 class="title">Register as a Jobseeker</h2></div>
                    <form action="" method="POST" class="box">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="button is-primary" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
