{% extends 'base.html' %}
{% load static %}
{% block title %}
    Password Reset Page
{% endblock title %}
{% block content %}
    <!--Login-->
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div style="background: url('{% static 'images/login-sbg.jpg' %}')"
                 class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Reset your Password!</h3>
                                <!-- Sign In Form -->
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_email">Email:</label>
                                        <input type="text"
                                               name="email"
                                               class="form-control"
                                               autofocus
                                               autocapitalize="none"
                                               autocomplete="email"
                                               maxlength="150"
                                               required
                                               id="id_email">
                                    </div>
                                    <br>
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                                type="submit">Reset Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
