{% extends 'base.html' %}
{% block title %}
    Password Reset Page
{% endblock title %}
{% block content %}
    <section class ="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                        <div class="content">
                            <h2 class="title">Reset your password</h2>
                        </div>
                        <form action="" class ="box" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button class ="btn btn-primary" type="submit">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
