{% extends 'base.html' %}
{% load static %}
{% block title %}Resume Form - Create your Resume{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <!-- Header -->
        <div style="background: url('{% static 'images/universe-header.jpg' %}')"
             class="bg-cover text-white">
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">Create your Resume</h1>
                <h2 class="font-italic mb-0">You can create a resume using the form below.</h2>
                <div aria-label="breadcrumb">
                    <a href="{% url 'jobs:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Create Resume</strong></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-4 justify-content-md-center">
                <div class="col-sm-10">
                    <form method="POST" class="">
                        {% csrf_token %}
                        {{ resume_form }}
                        <button class="btn btn-secondary">Create Resume</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
