<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Your Resume - {{ resume.name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/resume.css' %}">
    </head>
    <body>
        <div id="resume">
            <h1>{{ resume.name }}</h1>
            <ul>
                <li><a href="{{ resume.email }}">{{ resume.email }}</a></li>
                <li>{{ resume.phone }}</li>
                <li>{{ resume.location }}</li>
            </ul>
            <h2>About</h2>
            <p>{{ resume.about }}</p>
            <h2>Work Experience</h2>
            <p>{{ resume.work | safe | safe }}
            <h2>Projects</h2>
            <p>{{ resume.projects | safe }}</p>
            <h2>Education</h2>
            <p>{{ resume.education | safe }}</p>
            <h2>Skills</h2>
            <p>{{ resume.skills | safe }}</p>
        </div>
    </body>
</html>
