{% extends 'base.html' %}
{% load static %}
{% block title %}Resume Form - Create your Resume{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <!-- Header -->
        <div style="background: url('{% static 'images/universe-header.jpg' %}')"
             class="bg-cover text-white">
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">Upload your Resume</h1>
                <h2 class="font-italic mb-0">You can upload your resume.</h2>
                <div aria-label="breadcrumb">
                    <a href="{% url 'jobs:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Upload Resume</strong></span>
                </div>
            </div>
        </div>
        <!-- Upload Resume -->
        <div class="container">
            <div class="row my-4 justify-content-md-center">
                <div class="col-sm-10">
                    <p class="fs-3">
                        Upload your Resume in pdf format
                        <p>
                            <p class="fs-3">Text will be extracted from the uploaded pdf file.</p>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input class ="form-control my-2" type="file" name="pdf_file">
                                <button class ="btn btn-primary" type="submit">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock content %}
