<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% include 'scripts.html' %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include 'nav.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'footer.html' %}
    </body>
</html>
