<!-- Page Footer -->
<footer class="bg-dark text-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h5 class="text-uppercase fw-bold mb-4">About JobsNP</h5>
                <p>
                    JobsNP is a web application for an Online Job Portal using Django Web Framework. Jobseekers and Employers can login to the web application.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Tech Used</h6>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Django</a>
                </p>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Bootstrap</a>
                </p>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">HTML</a>
                </p>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Python</a>
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Links</h6>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Home</a>
                </p>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Jobs</a>
                </p>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Login</a>
                </p>
                <p>
                    <a href="#!" class="text-decoration-none text-reset">Signup</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                <p>
                    <i class="fa-solid fa-house"></i> Kathmandu, Nepal
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i> admin@jobsnp.com
                </p>
                <p>
                    <i class="fa-solid fa-phone"></i> +9779800000000
                </p>
                <p>
                    <i class="fa-solid fa-fax"></i> +9779860000000
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright
    <a class="text-white text-decoration-none" href="/">JobsNP</a> - All Rights Reserved.
</div>
</footer>
