{% extends 'base.html' %}
{% block title %} Job Detail {% endblock title %}

{% block content %}
<h1>Job Details</h1>
<section class="container text-center">
    <div class="row">
        <div class="col-sm-8">
            <p>Title: {{ job.title }}</p>
            <p>Description:</p> {{ job.description | safe }} {% lorem 1 b random %} {% lorem 2 b random %}
        </div>
        <div class="col-sm-4">
            <div class="card">
            <p>Tags: {{ job.tags.all| join:", "}}</p>
            <p>Category: {{ job.category }}</p>
            <p>Salary: {{ job.salary }}</p>
            <p>Location: {{ job.location }}</p>
            <p>Job Type: {{ job.job_type }}</p>
            <p>Company Name: {{ job.company_name }}</p>
            <p>Company Webste: {{ job.url }}</p>
            <p>Date: {{ job.last_date }}</p>
            </div>
        </div>
</section>

{% endblock content %}


