{% extends 'base.html' %}
{% load static %}
{% block title %}
    Job List
{% endblock title %}
{% block content %}
    <!-- Header -->
    <div style="background: url('{% static 'images/universe-header.jpg' %}')"
         class="bg-cover text-white">
        <div class="container py-5 text-center">
            <h1 class="display-4 font-weight-bold">Jobs List</h1>
            <h2 class="font-italic mb-0">All Available Jobs at JobsNP!</h2>
            <div aria-label="breadcrumb">
                <a href="{% url 'jobs:home' %}">Home</a> <span class="mx-2 slash">/</span>
                <span class="text-white"><strong>Jobs</strong></span>
            </div>
        </div>
    </div>
    <div class="container my-4">
        {% for job in page_obj %}
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-fluid"
                             src="{% static 'images/joblist.jpg' %}"
                             alt=""
                             width="600"
                             height="400">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>
                        <i class="fa-solid fa-list"></i>
                        {{ job.title }}
                    </h3>
                    <p>
                        <i class="fa-solid fa-location"></i>
                        {{ job.location }}
                        <i class="fa-solid fa-user-tag"></i>
                        {{ job.category }}
                        <i class="fa-solid fa-building"></i> {{ job.company_name }}
                    </p>
                    <p>{{ job.description |safe |truncatechars:200 }}</p>
                    <a class="btn btn-primary" href="{% url 'jobs:job-detail' job.id %}">See Job Details</a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class ="page-link" href="?page=1">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class ="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class ="page-link" href="?page={{ page_obj.number }}">This Page</a>
                </li>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class ="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class ="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}
