{% extends 'base.html' %}
{% load static %}
{% block title%}Job Form - Post a Job{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!-- Header -->
<div style="background: url('{% static 'images/universe-header.jpg' %}')" class="bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Post a Job</h1>
        <h2 class="font-italic mb-0">You can create a job listing here!</h2>
        <div aria-label="breadcrumb">
            <a href="{% url 'jobs:home' %}">Dashboard</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>Post Job</strong></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-2 justify-content-md-center">
        <div class="col-md-auto">
            <form method="POST" class="">
                {% csrf_token %}
                {{ job_form.as_p }}
                <button class="btn btn-secondary">Post Job</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}