{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Job Form - Post a Job{% endblock %}

{% block content %}
<section class ="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">
                    <div class="content">
                        <h2 class="title">Post a Job</h2></div>
                        <form action="" class ="box" method="POST">
                        {% csrf_token %}
                        {{ job_form|crispy }}
                        <button class ="button is-primary" type="submit">Post Job</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}